<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Site Portfolio</title>
        <?php include 'include/header.php'; ?>
        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
    </head>
    <body class="loading">
        <div class="container-fluid">
        <?php include 'include/nav.php'; ?>
        <!--[if lt IE 7]>
            <p class="chromeframe">Vous utilisez un navigateur <strong>OBSOLETE</strong> ">veuillez le mettre à jour pour profiter de ce site</a></p>
        <![endif]-->

       	<div id="preload">
	       	<img src="img/slide1.jpg">
	       	<img src="img/slide2.jpg">
	       	<img src="img/slide3.jpg">
	       	<img src="img/bcg_slide-4.jpg">
       	</div>

       	<main>

	        <section id="slide-1" class="container-fuild homeSlide">

	        	<div class="bcg"
	        		data-center="background-position: 50% 0px;"
	        		data-top-bottom="background-position: 50% -100px;"
	        		data-anchor-target="#slide-1"
	        	>
		        	<div class="hsContainer">
			    		<div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2">
				    		<h2>Site portfolio...</h2>
			    		</div>
		        	</div>
	        	</div>
		    </section>

			<section id="slide-2" class="homeSlide">
				<div class="bcg"
					data-center="background-position: 50% 10px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-2"
				>
			    	<div class="hsContainer">
			    		<div class="hsContent"
			    			data-center="opacity: 1"
			    			data-center-top="opacity: 0"
			    			data--100-bottom="opacity: 0;"
			    			data-anchor-target="#slide-2"
			    		>
				    		<h2>Compétances.</h2>
			    		</div>
			    	</div>
                </div>
			</section>
            <section id="comp" class="container-fluid block">
                <div class="container text-center">
                    <h2>Comptétances</h2>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4 text-justify espace">Web / Developpement : <br>HTML5 / CSS3 <br>PHP<br>SQL<br>JAVASCRIPT </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 text-justify espace">CMS : <br> Wordpress</div>
                        <div class="col-xs-12 col-md-6 col-lg-4 text-justify espace">Graphisme : <br>Corel PaintShop Pro<br>Gimp<br>Krita</div>
                    </div>
                </div>
            </section>

            <section id="slide-3" class="container-fuild homeSlide">
				<div class="bcg"
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -100px;"
					data-anchor-target="#slide-3"
				>
			    	<div class="hsContainer">
			    		<div class="hsContent"
			    			data-center="opacity: 1"
			    			data-center-top="opacity: 0"
			    			data--100-bottom="opacity: 0;"
			    			data-anchor-target="#slide-3"
			    		>
				    		<h2>Formation.</h2>
			    		</div>
			    	</div>
				</div>
			</section>
            <section id="xp" class="container-fluid block">
                <div class="container">

                    <div class="row">
                        <div class="col-xs-10 col-md-6 text-justify espace">
                            <div><h3>Experience professionnel : </h3><br><br>
                              2001 - 2017</div><div><h4>Technico-commercial
                              IDEAL MICRO 87</h4>Gestion clientèle particulier et professionnel, élaboration de devis, installation et déploiement du matériel. Assistance sur site et en téléassistance. Direction du service SAV. Création et installation de réseaux etc..</div>
                            <br><hr>

                            <div>1999 – 2001</div><div><h4>Technicien informatique
                              CERIG Informatique</h4>Déploiement des produits développé par l’entreprise.  Hotline support. Assemblage, préparation des serveurs et stations routeurs Switch , installation de serveurs et logiciels etc.</div>
                            <br><hr>

                            <div>1998 (Avril) En intérim</div><div><h4>Technicien informatique
                              ISTA Limoges </h4>Préparation déploiement sur site des stations de travail chez Valéo. Préparation, déploiement et mise en service du parc informatique de la médiathèque de Limoges</div>

                        </div>

                        <div class="col-xs-12 col-md-6 espace">
                            <div><h3>Formation : </h3><br><br>
                            1998</div><div><h4>FAC d'Histoire</h4></div><br><hr>
                            <div>1997 - 1998</div><div><h4>BAC PRO MRBT mention bien</h4>(Maintenance des Réseaux Bureautique et Télématiques) LYCEE MARYSE BASTIE
                            </div><br><hr>
                            <div>1995</div><div><h4>BEP Electronique</h4></div><br><hr>
                            <h3>Stages : </h3><br><br>

                            <div>1998 (Mars)</div><div><h4>Stage technicien informatique
                              ISTA Limoges </h4>Préparation, et livraison de matériel pour la CARSAT + Valéo</div>
                            <br><hr>

                            <div>1997 (Mai)</div><div><h4>Stage technicien informatique
                              DIRECTS LOGICIELS</h4>Assemblage, préparation vente, récupération de données / sauvegardes</div>

                            <br><hr>

                            <div>1996 (novembre)</div><div><h4>Stage en Angleterre d’électronique
                              J&A CROWHURST </h4>Installation  et déploiement divers, câblages, interrupteurs prises électrique panneau d’affichage électronique</div>
                        </div>
                    </div>
                </div>
            </section>


			<section id="slide-4" class="container-fuild homeSlide">
				<div class="bcg"
					data-center="background-position: 50% 0px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-4"
				>
			    	<div class="hsContainer">
						<div class="hsContent"
							data-bottom-top="opacity: 0"
							data-25p-top="opacity: 0"
							data-top="opacity: 1"
							data-anchor-target="#slide-4"
						>
				    		<h2>Contactez moi.</h2>
			    		</div>

			    	</div>

			    </div>
			</section>

		</main>

        <?php include 'include/footer.php'; ?>
</div>
    </div>
    </body>
</html>
