{# templates/emails/registration.html.twig #}
<div class="">
    <h3>Message auto</h3>
    titre du message : {{ titre }} <br>
    message de : {{ nom }} <br>
    adresse mail {{ mail }} <br>
    message : <br> {{ contact }}

</div>
